@charset "UTF-8"

html, body{
    margin: 0px;
}
body{

}
.form01{
    margin 5px;
}
label{
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    width: 70px;
}
fieldset{
    width: 600px;
}